@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3e4e88;
  color: #ebf0f6;
  font-family: "Press Start 2P", cursive;
}

nav.nav-wrapper {
  margin: 0;
  width: 100%;
  min-width: 320px;
  height: 56px;
  max-height: 50px;
  font-size: 17px;
  background-color: #1a2c5b;
}

nav .nav-content {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  padding: 0;
}

nav .list-styled {
  cursor: default;
  margin: 0;
  width: auto;
  height: 56px;
  display: flex;
  list-style: none;
  align-items: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.createContainer {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.subText {
  font-size: 12px;
  margin-bottom: 12px;
}

.urlInput {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f5f5f5;
  font-size: 16px;
}

.urlInput::placeholder {
  opacity: 0.4;
  font-weight: 700;
}

.customInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}

.staticInput {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #1a2c5b;
  font-size: 16px;
  width: 60%;
}

.staticInput::placeholder {
  color: #e3f4f4;
  opacity: 0.9;
  font-weight: 700;
}

.customInput {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f5f5f5;
  font-size: 16px;
  width: 100%;
  margin-left: 18px;
  text-transform: lowercase;
}

.customInput::placeholder {
  opacity: 0.4;
  font-weight: 700;
}

.aliasContainer {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.aliasSubText {
  font-size: 8px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  padding: 10px 80px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background-color: #3aa6b9;
  color: #ebf0f6;
  cursor: pointer;
}

button:hover {
  background-color: #00dfa2;
  color: #e3f4f4;
}

/* Error message */
.errorContainer {
  display: flex;
  justify-content: center;
  padding-top: 23px;
}
.errorMessage {
  color: #f31559;
  font-size: 13px;
}

.customeUrlContainer {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.newUrl {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f5f5f5;
  font-size: 16px;
}

.customUrlHeading {
  padding-bottom: 20px;
  text-align: center;
}

.btnContainerNewUrl {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.btnClear:hover {
  background-color: #f31559;
  color: #e3f4f4;
}

.btnCopy {
  margin-left: 18px;
}

footer {
  background-color: #1a2c5b;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #e3f4f4;
  font-size: 12px;
}

/* Screen widths */
@media (max-width: 700px) {
  .mainContainer {
    font-size: 12px;
    text-align: center;
    line-height: 1.2rem;
    margin: 20px auto;
    padding: 10px;
  }

  .createContainer {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .customInputs {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    padding: 10px;
  }

  .staticInput {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #1a2c5b;
    font-size: 16px;
    width: 80%;
    margin-bottom: 20px;
  }

  .staticInput::placeholder {
    color: #e3f4f4;
    opacity: 0.9;
    font-weight: 700;
  }

  .customInput {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f5f5f5;
    font-size: 16px;
    width: 100%;
    margin-left: 0;
    text-transform: lowercase;
  }

  .customeUrlContainer {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .btnContainerNewUrl {
    display: flex;
    flex-direction: column;
  }

  .btnCopy {
    margin-left: 0;
    margin-top: 18px;
  }

  .errorMessage {
    color: #f31559;
    font-size: 10px;
  }

  footer {
    justify-content: flex-start;
  }

  footer a {
    text-decoration: none;
    color: #e3f4f4;
    font-size: 8px;
  }
}
